> # ***Visualizing Heirarchy***
- below you'll come across a word called Dendogram: Dendogram is a tree like structure that shows the heirarchy.
- Agglomerative Clustering: A type of **heirarchical clustering** where all the clusters are merged to form a **dendogram**.

> Step1: Import The libraries

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.cluster.hierarchy import linkage, dendrogram

> Step2: Read CSV file, check shape, info, column and describe

In [16]:
samples = pd.read_csv("Eurovision 2016.csv")
samples.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1066 entries, 0 to 1065
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   From country     1066 non-null   object
 1   To country       1066 non-null   object
 2   Jury A           1066 non-null   int64
 3   Jury B           1066 non-null   int64
 4   Jury C           1066 non-null   int64
 5   Jury D           1066 non-null   int64
 6   Jury E           1066 non-null   int64
 7   Jury Rank        1066 non-null   int64
 8   Televote Rank    1066 non-null   int64
 9   Jury Points      420 non-null    float64
 10  Televote Points  420 non-null    float64
dtypes: float64(2), int64(7), object(2)
memory usage: 91.7+ KB

In [21]:
samples.head()

,From country,To country,Jury A,Jury B,Jury C,Jury D,Jury E,Jury Rank,Televote Rank,Jury Points,Televote Points
0,Albania,Belgium,20,16,24,22,24,25,14,NaN,NaN
1,Albania,Czech Republic,21,15,25,23,16,22,22,NaN,NaN
2,Albania,The Netherlands,22,14,23,24,21,24,24,NaN,NaN
3,Albania,Azerbaijan,19,12,11,21,11,13,19,NaN,NaN
4,Albania,Hungary,8,13,9,14,9,10,10,1.0,1.0

In [17]:
samples.shape

(1066, 11)

In [18]:
samples.columns

Index(['From country', 'To country', 'Jury A', 'Jury B', 'Jury C', 'Jury D',
       'Jury E', 'Jury Rank', 'Televote Rank', 'Jury Points',
       'Televote Points'],
      dtype='object')

In [19]:
samples.describe()

,Jury A,Jury B,Jury C,Jury D,Jury E,Jury Rank,Televote Rank,Jury Points,Televote Points
count,1066.000000,1066.000000,1066.000000,1066.000000,1066.000000,1066.000000,1066.000000,420.000000,420.000000
mean,13.195122,13.195122,13.195122,13.195122,13.195122,13.195122,13.195122,5.800000,5.800000
std,7.332698,7.332698,7.332698,7.332698,7.332698,7.332698,7.332698,3.344643,3.344643
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,3.000000,3.000000
50%,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,5.500000,5.500000
75%,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,8.000000,8.000000
max,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,12.000000,12.000000

In [22]:
samples = samples.drop(columns=['From country', 'To country'],axis=2)

> Step2: Heirarchical Clustering with Scipy.

In [24]:

# Calculate the linkage: mergings
mergings = linkage(samples, method='complete')

# Plot the dendrogram, using varieties as labels
dendrogram(mergings,
           labels=varieties,
           leaf_rotation=90,
           leaf_font_size=6,
)
plt.show()

ValueError: The condensed distance matrix must contain only finite values.