In [ ]:
#Here i will be dealing with mathematics and statistics using pandas
#statistics: mean, median, mode, min, max, correlation, regression, sd, quartile deviation,

In [2]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_diabetes
diabetes = load_diabetes(as_frame=True)
df = diabetes.frame # type: ignore

In [3]:
#Summary statistics
# mean
# median
mean = df['bmi'].mean()
median = df['bmi'].median()
max_val = df['bmi'].max()
min_val = df['bmi'].min()

In [4]:
print(f"mean: {mean}, median: {median}, max_value: {max_val}, min_val: {min_val}")

mean: -2.2455642172282577e-16, median: -0.007283766209687899, max_value: 0.17055522598064407, min_val: -0.09027529589850945

In [5]:
#Quantile means quartile itself but has flexibility of any sub-division.

# quartile = df['bmi'].quantile(0.75)
# 
# print(quartile)

def pct50(column):
    return column.quantile(0.50)
quartile = df['bmi'].agg(pct50)
print(quartile)

-0.007283766209687899

In [8]:
#multiple summary statistics using .agg()

ddf_bmi_summary_stats = df['age'].agg({
    'mean': 'mean',
    'median': 'median',
    'max': 'max',
    'min': 'min',
    '75th_percentile': lambda x: x.quantile(0.75)
})

print(ddf_bmi_summary_stats)

mean              -2.511817e-19
median             5.383060e-03
max                1.107267e-01
min               -1.072256e-01
75th_percentile    3.807591e-02
Name: age, dtype: float64

In [7]:
#detecting outliers


Q1 = df['bmi'].quantile(0.25)
Q3 = df['bmi'].quantile(0.75)

IQR = Q3-Q1
lw_outliers = Q1-1.5*IQR
upr_outliers = Q3+1.5*IQR

### counting in pandas
**- df.value_counts() -> sort, normalize**

**-df.drop_duplicates()**

In [11]:
count = df['age'].value_counts(sort=False)
print(count.head(5))

age
 0.038076    10
-0.001882    14
 0.085299     1
-0.089063     3
 0.005383    13
Name: count, dtype: int64

In [3]:
#creating own dataframe.
list_of_dicts = [
    {"Name":"Bishal Shrestha","Age":18, "Faculty":"BSc.CSIT"},
    {"Name":"Guras Chaudhary","Age":17, "Faculty":"+2 Science"},
    {"Name":"Dipak Sharma","Age":20, "Faculty":"MBBS"},
]
new_df =pd.DataFrame(list_of_dicts)

In [4]:
new_df.head()

              Name  Age     Faculty
0  Bishal Shrestha   18    BSc.CSIT
1  Guras Chaudhary   17  +2 Science
2     Dipak Sharma   20        MBBS

In [ ]:
#You can make your own csv file using the DataFrame you have or created. Then run this command .to_csv().
new_df.to_csv("new_df.csv")