In [9]:
import pandas as pd
import numpy as np
df = pd.read_csv('./stroke_data.csv')

In [10]:
df.head(5)

,id,gender,age,height_in_m,weight_in_kg,avg_glucose_level,bmi,smoking_status,hypertension,heart_disease,ever_married,work_type,Residence_type,stroke
0,9046,Male,67.0,1.82880,122.409046,169.35,36.6,formerly smoked,0,1,Yes,Private,Urban,1
1,51676,Female,61.0,1.64592,NaN,169.35,NaN,never smoked,0,0,Yes,Self-employed,Rural,1
2,31112,Male,80.0,1.79832,105.103532,105.92,32.5,never smoked,0,1,Yes,Private,Rural,1
3,60182,Female,49.0,1.92024,126.843865,169.35,34.4,smokes,0,0,Yes,Private,Urban,1
4,1665,female,79.0,1.85928,82.966131,169.35,24.0,never smoked,1,0,Yes,Self-employed,Rural,1

In [11]:
df.drop(columns=['id'],inplace=True)
df.shape

(5135, 13)

In [13]:
# df.isna().sum(): weight_in_kg:201, ever_married:202
# df.duplicated().sum(): duplicated:25=> 403+25 = 428: 5135-428 = 
# 4707
df.dropna(inplace=True)
df.drop_duplicates(inplace=True)

In [14]:
df.shape

(4713, 13)

In [15]:
print(df['gender'].unique())
print(df['smoking_status'].unique())
print(df['ever_married'].unique())
print(df['work_type'].unique())
print(df['Residence_type'].unique())

['Male' 'Female' 'female' 'male' 'Other']
['formerly smoked' 'never smoked' 'smokes' 'Unknown']
['Yes' 'No']
['Private' 'Self-employed' 'Govt_job' 'children' 'Never_worked']
['Urban' 'Rural' 'rural' 'urbane' 'ruralee' 'urban']

In [16]:
df = df.replace({'Male':1,'Female':0,'Other':2, 'male':1, 'female':0 ,'formerly smoked':0, 'never smoked':1, 'smokes':2,'Unknown':3, 'Yes':1, 'No':0, 'Private':0, 'Self-employed':1, 'Govt_job':2, 'children':3, 'Never_worked':4, 'Urban':0, 'Rural':1, 'rural':1, 'urbane':0, 'ruralee':1, 'urban':0})

C:\Users\bisha\AppData\Local\Temp\ipykernel_19168\2132905371.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace({'Male':1,'Female':0,'Other':2, 'male':1, 'female':0 ,'formerly smoked':0, 'never smoked':1, 'smokes':2,'Unknown':3, 'Yes':1, 'No':0, 'Private':0, 'Self-employed':1, 'Govt_job':2, 'children':3, 'Never_worked':4, 'Urban':0, 'Rural':1, 'rural':1, 'urbane':0, 'ruralee':1, 'urban':0})

In [17]:
df = df.fillna(df.median())

In [18]:
df.head()
# print(df.shape)

,gender,age,height_in_m,weight_in_kg,avg_glucose_level,bmi,smoking_status,hypertension,heart_disease,ever_married,work_type,Residence_type,stroke
0,1,67.0,1.82880,122.409046,169.35,36.6,0,0,1,1,0,0,1
2,1,80.0,1.79832,105.103532,105.92,32.5,1,0,1,1,0,1,1
3,0,49.0,1.92024,126.843865,169.35,34.4,2,0,0,1,0,0,1
4,0,79.0,1.85928,82.966131,169.35,24.0,1,1,0,1,1,1,1
5,1,81.0,1.79832,93.784690,169.35,29.0,0,0,0,1,0,0,1

In [19]:
X = df.drop(columns=['stroke'])
y = df['stroke']

In [43]:
from sklearn.preprocessing import MinMaxScaler

# Identify continuous columns only
continuous_cols = ['age', 'avg_glucose_level', 'weight_in_kg']

scaler = MinMaxScaler()
df[continuous_cols] = scaler.fit_transform(df[continuous_cols])

In [44]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42, test_size=0.3)
log_reg = LogisticRegression(class_weight='balanced')
log_reg.fit(X_train,y_train)
y_pred = log_reg.predict(X_test)

y_pred

c:\Users\bisha\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

array([0, 0, 0, ..., 0, 1, 0])

In [45]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.99      0.71      0.83      1342
           1       0.14      0.88      0.24        72

    accuracy                           0.72      1414
   macro avg       0.57      0.79      0.54      1414
weighted avg       0.95      0.72      0.80      1414

In [46]:
#using different model to classify
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state=42,class_weight='balanced')
rfc.fit(X_train,y_train)
pred_y =rfc.predict(X_test)

print(pred_y)

[0 0 0 ... 0 0 0]

In [47]:
print(classification_report(y_test,pred_y))

              precision    recall  f1-score   support

           0       0.95      1.00      0.97      1342
           1       0.00      0.00      0.00        72

    accuracy                           0.95      1414
   macro avg       0.47      0.50      0.49      1414
weighted avg       0.90      0.95      0.92      1414

c:\Users\bisha\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\bisha\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\bisha\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

This shows that, For scaled dataset, random forest classifier performs worse, as it overfits and fails to predict the desired output.